<div>
<h2>Character Display</h2>
<h3>{{character.name}}</h3>
<h4>{{character.rank}}</h4>
<h4>{{character.group}}</h4>
</div>
<div class="arsenal">
<h4>{{character.arsenal.slot1}}</h4>
<h4>{{character.arsenal.slot2}}</h4>
<h4>{{character.arsenal.slot3}}</h4>
</div>